/*
COLORS:

text color: #777;

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* universal reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* universal override using inheritance of body element */
body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
	padding: 30px;
}

.header {
	height: 95vh;
	background-image: linear-gradient(
			to right bottom,
			rgba(128, 214, 113, 0.8),
			rgba(40, 180, 133, 0.8)
		),
		url(../img/hero.jpg);
	background-size: cover;
	background-position: top;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

	position: relative;
	/* for logo-box position */
}

.logo-box {
	position: absolute;
	top: 40px;
	left: 40px;
}

.logo {
	height: 35px;
}

.text-box {
	/* alignment via absolute */
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* alignment via flex */
	/* 
  height: 75vh;
	display: flex;
	align-items: center;
	justify-content: center; 
  */
}

.heading-primary {
	color: #fff;
	text-transform: uppercase;
}

.heading-primary-main {
	display: block;

	font-size: 60px;
	font-weight: 400;
	letter-spacing: 35px;
	/* span elements are by nature inline needs display: block to be on top of each other */
}

.heading-primary-sub {
	display: block;

	font-size: 20px;
	font-weight: 700;
	letter-spacing: 17.4px;
	/* span elements are by nature inline needs display: block to be on top of each other */
}
