/*
COLORS:

text color: #777;

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* universal reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* universal override using inheritance of body element */
body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
	padding: 30px;
}

.header {
	height: 95vh;
	background-image: linear-gradient(
			to right bottom,
			rgba(128, 214, 113, 0.8),
			rgba(40, 180, 133, 0.8)
		),
		url(../img/hero.jpg);
	background-size: cover;
	background-position: top;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

	position: relative;
	/* for logo-box position */
}

.logo-box {
	position: absolute;
	top: 40px;
	left: 40px;
}

.logo {
	height: 35px;
}

.text-box {
	/* alignment via absolute */
	/* position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%); */
	/* text-align: center; */
	/* alignment via flex */
	height: 75vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.heading-primary {
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 60px;

	/* conceals the animation artifacts */
	/* as of 2022 can not experience the artifact phenamena in chrome browser */
	backface-visibility: hidden;
}

.heading-primary-main {
	display: block;
	/* span elements are by nature inline needs display: block to be on top of each other */

	font-size: 60px;
	font-weight: 400;
	letter-spacing: 35px;

	animation-name: moveInLeft;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	/* animation-iteration-count: 3; */
	/* animation-delay: 3s; */
}

.heading-primary-sub {
	display: block;
	/* span elements are by nature inline needs display: block to be on top of each other */

	font-size: 20px;
	font-weight: 700;
	letter-spacing: 17.4px;

	animation: moveInRight 1s ease-out;
	/* animation-name: moveInRight;
	animation-duration: 1s;
	animation-timing-function: ease-out; */
}

/* browsers are optimized only to work with opacity and transform properties */
/* define moveInLeft named animation */
@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
		/* transform: translateX(-100px) rotate(45deg); */
		/* could apply multiple transforms at the same time */
	}
	80% {
		transform: translateX(10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

/* define moveInRight named animation */
@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}
	80% {
		transform: translateX(-10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

/* define moveInBottom named animation */
@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

/* we would like to style <a> tags for its both link and visited states */
.btn:link,
.btn:visited {
	display: inline-block;
	/* for <a> elements padding to work we would need inline-block */

	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 40px;
	border-radius: 1000px;
	transition: all 0.3s;
	/* make everything available for smooth transitions @ the initial state (link,visited) for hover and active states */

	position: relative;
	/* for btn::after pseudo element */
}

.btn:hover {
	transform: translateY(-3px);
	/* Y top to bottom , we want to move up so takes neg value */
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
	transform: translateY(-1px);
	/* Y top to bottom , we want to move up so takes neg value */
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
	background-color: #fff;
	color: #777;
}

.btn::after {
	content: "";
	display: inline-block;
	/* in pseudo elements content + inline-block need to be specified no matterwhat */
	height: 100%;
	width: 100%;
	border-radius: 1000px;

	/* set the pseudo element behind the button itself */
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	transition: all 0.4s;
}

.btn-white::after {
	background-color: #fff;
}

/* after pseudo element @ btn:hover state */
.btn:hover::after {
	transform: scaleX(1.5) scaleY(1.6);
	opacity: 0;
}

.btn-animated {
	animation: moveInBottom 0.5s ease-out 0.5s;
	animation-fill-mode: backwards;
}
