/*
COLORS:

text color: #777;

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* universal reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* universal override using inheritance of body element */
body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
	padding: 30px;
}

.header {
	height: 95vh;
	background-image: linear-gradient(
			to right bottom,
			rgba(128, 214, 113, 0.8),
			rgba(40, 180, 133, 0.8)
		),
		url(../img/hero.jpg);
	background-size: cover;
	background-position: top;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

	position: relative;
	/* for logo-box position */
}

.logo-box {
	position: absolute;
	top: 40px;
	left: 40px;
}

.logo {
	height: 35px;
}

.text-box {
	/* alignment via absolute */
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* alignment via flex */
	/* 
  height: 75vh;
	display: flex;
	align-items: center;
	justify-content: center; 
  */
}

.heading-primary {
	color: #fff;
	text-transform: uppercase;

	/* conceals the animation artifacts */
	/* as of 2022 can not experience the artifact phenamena in chrome browser */
	backface-visibility: hidden;
}

.heading-primary-main {
	display: block;

	font-size: 60px;
	font-weight: 400;
	letter-spacing: 35px;
	/* span elements are by nature inline needs display: block to be on top of each other */

	animation-name: moveInLeft;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	/* animation-iteration-count: 3; */
	/* animation-delay: 3s; */
}

.heading-primary-sub {
	display: block;

	font-size: 20px;
	font-weight: 700;
	letter-spacing: 17.4px;
	/* span elements are by nature inline needs display: block to be on top of each other */

	animation: moveInRight 1s ease-out;
	/* animation-name: moveInRight;
	animation-duration: 1s;
	animation-timing-function: ease-out; */
}

/* browsers are optimized only to work with opacity and transform properties */
/* define moveInLeft named animation */
@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
		/* transform: translateX(-100px) rotate(45deg); */
		/* could apply multiple transforms at the same time */
	}
	80% {
		transform: translateX(10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

/* define moveInRight named animation */
@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}
	80% {
		transform: translateX(-10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}
