// partial files always start with an underscore
//COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-light-1: #f7f7f7;

$color-white: #fff;
$color-grey-dark: #777;
$color-black: #000;

//FONT SIZES
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
