// partial files always start with an underscore

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-white: #fff;
$color-grey-dark: #777;
$color-black: #000;
