// partial files always start with an underscore
@import "../abstracts/variables";
//
.footer {
	background-color: $color-grey-dark-3;
	padding: 10rem 0;
	font-size: 1.4rem;

	@include break($tablet-portrait) {
		padding: 8rem 0;
	}

	&__logo-box {
		text-align: center;
		margin-bottom: 8rem;

		@include break($tablet-portrait) {
			margin-bottom: 6rem;
		}
	}

	&__logo {
		width: 15rem;
		height: auto;
	}

	&__navigation {
		border-top: 1px solid $color-grey-dark;
		padding-top: 2rem;

		display: inline-block; //occupies as the same width as the links

		@include break($tablet-landscape) {
			width: 90%;
			text-align: center;
		}
		@include break($tablet-portrait) {
			width: 100%;
			text-align: center;
		}
	}

	&__list {
		list-style: none;
	}

	&__item {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 1.5rem;
		}
	}

	&__link {
		&:link,
		&:visited {
			background-color: $color-grey-dark-3;
			color: $color-grey-light-1;
			text-decoration: none;
			text-transform: uppercase;

			display: inline-block;

			transition: all 0.2s;
		}

		&:hover,
		&:active {
			color: $color-primary;
			box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
			transform: rotate(5deg) scale(1.2);
		}
	}

	&__copyright {
		color: $color-grey-light-1;
		border-top: 1px solid $color-grey-dark;
		padding-top: 2rem;
		width: 80%;
		float: right;

		@include break($tablet-landscape) {
			width: 90%;
		}
		@include break($tablet-portrait) {
			width: 100%;
		}
	}
}
