// partial files always start with an underscore
@import "../abstracts/variables";
//
.navigation {
	&__checkbox {
		// we never want to see this standard styled element
		display: none;
	}

	&__button {
		background-color: $color-white;
		height: 7rem;
		width: 7rem;
		border-radius: 50%;

		position: fixed;
		top: 6rem;
		right: 6rem;
		z-index: 2000;

		box-shadow: 0 1rem 3rem rgba($color-black, 0.2);
		text-align: center;
		cursor: pointer;

		@include break($tablet-portrait) {
			top: 4rem;
			right: 4rem;
		}
		@include break($phone) {
			top: 3rem;
			right: 3rem;
		}
	}

	&__background {
		height: 6rem;
		width: 6rem;
		border-radius: 50%;
		background-image: radial-gradient(
			$color-primary-light,
			$color-primary-dark
		);

		// we want it off the flow and stay always @ designated location
		position: fixed;
		top: 6.5rem;
		right: 6.5rem;
		z-index: 1000;

		@include break($tablet-portrait) {
			top: 4.5rem;
			right: 4.5rem;
		}
		@include break($phone) {
			top: 3.5rem;
			right: 3.5rem;
		}

		transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
		// transform: scale(80);
	}

	// initial nav state
	&__nav {
		height: 100vh;
		width: 100%;

		position: fixed;
		top: 0;
		left: 0;
		z-index: 1500;
		// background-color: orangered;
		transform: translateX(-50%);

		/* Hide the navigation */
		/* NOTE: Hide the elements - display: none is not animatable so we dont use it here */
		/* 1) Hide it visually but links seize to exist active */
		opacity: 0;
		/* 2) Make it unaccessible to mouse and keyboard */
		pointer-events: none;
		/* 3)  Hide it from screen readers */
		visibility: hidden;

		transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
	}

	&__list {
		text-align: center;
		list-style: none;

		@include absCenter;
		// position: absolute;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);
	}

	&__item {
		margin: 1rem;
	}

	&__link {
		&:link,
		&:visited {
			display: inline-block;

			font-size: 3rem;
			font-weight: 300;
			padding: 1rem 2rem;

			color: $color-white;
			text-decoration: none;
			text-transform: uppercase;
			background-image: linear-gradient(
				120deg,
				transparent 0%,
				transparent 50%,
				$color-white 50%
			);
			background-size: 250%;
			transition: all 0.4s;

			span {
				display: inline-block;

				margin-right: 1rem;
			}
		}

		&:hover,
		&:active {
			background-position: 100%;
			color: $color-primary;
			transform: translateX(1rem);
		}
	}

	// when checkbox is checked navigation background state
	&__checkbox:checked ~ &__background {
		transform: scale(80);
	}

	// when checkbox is checked nav state
	&__checkbox:checked ~ &__nav {
		transform: translateX(0);
		/* Unhide the navigation */
		/* 1) Unhide it visually */
		opacity: 1;
		/* 2) Make it accessible to mouse and keyboard */
		pointer-events: auto;
		/* 3)  Unhide it from screen readers */
		visibility: visible;
	}

	// NAV on/off ICON
	&__icon {
		position: relative;

		margin-top: 3.4rem;

		&,
		&::before,
		&::after {
			display: inline-block;

			width: 3rem;
			height: 2px;
			background-color: $color-grey-dark-3;
		}

		&::before,
		&::after {
			// before and after pseudo elements needs to have their content delared
			content: "";
			position: absolute;
			left: 0;

			transition: all 0.2s;
		}

		&::before {
			top: -0.8rem; //nidge 1 line above
		}

		&::after {
			top: 0.8rem; //nudge 1 line below
		}
	}

	&__button:hover &__icon::before {
		top: -1rem;
	}

	&__button:hover &__icon::after {
		top: 1rem;
	}

	&__checkbox:checked + &__button &__icon {
		background-color: transparent;
	}

	&__checkbox:checked + &__button &__icon::after {
		top: 0;
		transform: rotate(45deg);
	}

	&__checkbox:checked + &__button &__icon::before {
		top: 0;
		transform: rotate(-45deg);
	}
}
