// partial files always start with an underscore
@import "../abstracts/variables";
//
.composition {
	position: relative;

	&__photo {
		position: absolute;

		width: 55%;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
		border-radius: 2px;
		z-index: 10;
		// set base z-index for photo animations

		transition: all 0.1s;

		&--p1 {
			left: 0;
			top: -2rem;
		}

		&--p2 {
			right: 0;
			top: 2rem;
		}

		&--p3 {
			left: 20%;
			top: 10rem;
		}

		&:hover {
			outline: 1rem solid $color-primary;
			outline-offset: 1rem;
			transform: scale(1.05) translateY(-0.5rem);
			// scale the photo and nudge up a bit
			box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
			z-index: 20;
			// when hovered on z-index changed to higher value to bring the photo above
		}
	}

	//similar to writing up composition:hover composition__photo:not(:hover) {....} which translates as when you hover to on a composition___photo that resides under its parent composition:hover, scale down all the composition__photos except the one we do hover over on
	&:hover &__photo:not(:hover) {
		transform: scale(0.9);
	}
}
