// partial files always start with an underscore
@import "../abstracts/variables";
//
.feature-box {
	background-color: rgba($color-white, 0.8);
	font-size: 1.5rem;
	padding: 2.5rem;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
	// fluent transition back to original
	transition: transform 0.3s;

	&:hover {
		transform: translateY(-1.5rem) scale(1.03);
	}

	&__icon {
		display: inline-block;

		font-size: 6rem;
		margin-bottom: 0.5rem;
		// color-gradient text effect
		background-image: linear-gradient(
			to right,
			$color-primary-light,
			$color-primary-dark
		);
		background-clip: text;
		color: transparent;
	}
}
