// partial files always start with an underscore
@import "../abstracts/variables";
//
.form {
	&__group:not(:last-child) {
		margin-bottom: 2rem;
	}

	&__input {
		// overrites default css font for the input element with the parent element's font-family
		font-family: inherit;
		color: inherit;

		font-size: 1.5rem;
		padding: 1.5rem 2rem;
		border-radius: 2px;
		background-color: rgba($color-white, 0.5);
		border: none;
		border-bottom: 3px solid transparent;
		// we add border bottom property on both conditions so that when we hop across inputs they wont nudge down

		// display block treats each form object in a seperate line
		display: block;
		width: 80%;

		&:focus {
			// disables the generic focus event highlighter behaviour
			outline: none;
			box-shadow: 0 1rem 2rem ($color-black, 0.1);
			border-bottom: 3px solid $color-primary;

			// when you focus on an input and the input remains invalid then....
			&:invalid {
				border-bottom: 3px solid $color-secondary-dark;
			}
		}

		&::placeholder {
			color: $color-grey-dark-2;
		}
	}

	&__label {
	}
}
