// partial files always start with an underscore

//global definitions are rregistered here
/* universal reset which includes after and before pseudo elements as well - we increased the spectrum of coverage */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	/* we moved the border-box definition to body and here provided inherit - its a better implementation */
}

html {
	/*root font size is always selected in the html element */

	/* single media query call */
	// @include respond-phone {
	// 	font-size: 50%;
	// }

	/* variable media query call */
	// @include respond(big-desktop) {
	// 	font-size: 75%; // 1rem=12px, 12/16
	// }
	// @include respond(tab-land) {
	// 	font-size: 56.25%; //1rem=9px, 9/16=50%
	// }
	// @include respond(tab-port) {
	// 	font-size: 50%; //1rem=8px, 8/16=50%
	// }
	// @include respond(phone) {
	// 	font-size: 30%; // 1rem=6px, 8/16=50%
	// }

	@include break($big-desktop) {
		font-size: base-font-size(12px);
	} //75%

	// @ default between 1200 and 1800 we had 10px per 1 rem
	/* change default font-size=10px => 10/16*100=62.5% is now 1rem */
	font-size: 62.5%; //1rem=10px

	@include break($tablet-landscape) {
		font-size: base-font-size(9px);
	} //56.25%

	@include break($tablet-portrait) {
		font-size: base-font-size(8px);
	} //50%
}

body {
	box-sizing: border-box;
}
