// partial files always start with an underscore
@import "../abstracts/variables";
//
// mostly related to typography stuff , thats why its registered under this folder
/* universal override using inheritance of body element */
body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	/* font-size: 16px; */
	/* we defined the 1rem=10px @ html body thats why font-size definition here became absolute */
	line-height: 1.7;
	color: $color-grey-dark;
}

.heading-primary {
	color: $color-white;
	text-transform: uppercase;
	margin-bottom: 6rem;
	text-align: center;
	/* conceals the animation artifacts */
	/* as of 2022 can not experience the artifact phenamena in chrome browser */
	backface-visibility: hidden;

	&--main {
		display: block;
		/* span elements are by nature inline needs display: block to be on top of each other */

		font-weight: 400;
		font-size: 6rem;
		letter-spacing: 3.5rem;

		@include break($phone) {
			font-size: 5rem;
			letter-spacing: 1rem;
		}

		animation-name: moveInLeft;
		animation-duration: 1s;
		animation-timing-function: ease-out;
		/* animation-iteration-count: 3; */
		/* animation-delay: 3s; */
	}

	&--sub {
		display: block;
		/* span elements are by nature inline needs display: block to be on top of each other */

		font-weight: 700;
		font-size: 2rem;
		letter-spacing: 1.75rem;

		@include break($phone) {
			letter-spacing: 0.5rem;
		}

		animation: moveInRight 1s ease-out;
		/* animation-name: moveInRight;
	animation-duration: 1s;
	animation-timing-function: ease-out; */
	}
}

.heading-secondary {
	// just occupy as much as text
	display: inline-block;

	font-size: 3.5rem;
	font-weight: 700;
	text-transform: uppercase;
	background-image: linear-gradient(
		to right,
		$color-primary-light,
		$color-primary-dark
	);
	background-clip: text;
	color: transparent;
	// makes text transparent so that clipped background thru text is visible

	@include break($tablet-portrait) {
		font-size: 3rem;
	}
	@include break($phone) {
		font-size: 2.5rem;
	}

	transition: all 0.2s;

	&:hover {
		transform: skewY(2deg) skewX(15deg) scale(1.1);
		text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
	}
}

.heading-tertiary {
	font-size: $default-font-size;
	font-weight: 700;
	text-transform: uppercase;
}

.paragraph {
	font-size: $default-font-size;

	// everything except the last child
	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}
